@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

@font-face {
    font-family: Bebas;
    src: url('../fonts/BebasKai-Regular.otf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
html, body {
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: #000;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-weight: 700;
}
::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

/* Background Picture */
  
.wrapper-indiv {
    height: 100vh;
    perspective: 300px;
}

  
.wrapper-main {
  overflow-x: hidden;
  overflow-y: auto;
}


.parallax__group {
    position: relative;
    height: 100vh;
    width: 100vw;
    transform-style: preserve-3d;
}
  
.parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.slider {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  z-index: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  -webkit-transition: -webkit-transform 1600ms;
  transition: -webkit-transform 1600ms, transform 1600ms;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.slide-1 {
  /* background: #a9785c; */
  background: url('/images/London-Skyline.jpg') no-repeat center; 
  background-size: cover;
  left: 0;
  transform: translateZ(-600px) scale(3);
  z-index: 1;
}

.slide-2 {
  /* background: #fbad99; */
  background: url('/images/SanFran.jpg') no-repeat center; 
  background-size: cover;
  left: 100%;
}

.slider {
  display: flex;
  justify-content: flex-start;
}


.slider-pagination {
  position: absolute;
  bottom: 30px;
  width: 575px;
  left: 100px;
  z-index: 1000;
  display: flex;
  align-items: center;
}
.slider-pagination label {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  background: #fff;
  margin: 0 10px;
  cursor: pointer;
}

/* Slider Pagger Event */
.slide-radio1:checked ~ .slider-pagination .page1,
.slide-radio2:checked ~ .slider-pagination .p2 {
  width: 25px;
  height: 25px;
  border: 2px solid #ea2e49;
  background: transparent;
}

/* Slider Slide Effect */
.slide-radio1:checked ~ .slider {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}
.slide-radio2:checked ~ .slider {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}


/* Nav Stuff */

a {
    text-decoration: none;
    color: white;
}

.btn {
    border: 1.5px solid #fff;
    border-radius: 0.75rem;
    padding: 0.75rem 1.25rem;
    transition: all 0.3s ease-in-out;
  }
  
.btn:hover {
    color: #000;
    background: #fff;
}

.buy {
  position: absolute;
  top: 70%;
  left: 13%;
  font-size: 40px;
  font-family: Bebas;
}

.gradient {
  background: linear-gradient(
    rgba(105, 211, 252, 0.25) 0%,
    rgba(255, 116, 161, 0.25) 86%,
    rgba(1, 0, 0, 0.25) 100%
  );
  background-size: cover;
  transform: translateZ(0) scale(1);
  z-index: 7;
}



.navigation {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.logo {
  font-size: 1.5rem;
  position: absolute;
  left: 2.5rem;
  top: 2.5rem;
  font-weight: 200;
}

.navigation ul {
  font-size: 0.75rem;
  position: absolute;
  right: 2.5rem;
  top: 2.5rem;
}

.navigation ul li {
  margin-left: 2.5rem;
  list-style-type: none;
  float: left;
  visibility: hidden;
}

.navigation ul li:nth-of-type(3) {
  visibility: visible;
}


@media (min-width: 760px) {
    .navigation ul li {
        visibility: visible;
    }
}

/* Title */

.title {
    font-family: Bebas;
    position: absolute;
    left: 15rem;
    top: 8rem;
    font-weight: 200;
    font-size: 20rem;
}

.caption {
    font-family: Bebas;
    position: absolute;
    left: 16rem;
    font-size: 3rem;
    font-weight: 400;
}

.info-container h2:nth-of-type(1){
    top: 30rem;
}

.info-container h2:nth-of-type(2){
    top: 34rem;
}


/* Socials */

.social-container {
  position: absolute;
  right: 2.5rem;
  bottom: 2rem;
}

.social-container i {
  font-size: 1.25rem;
  margin-right: 0.5rem;
}


/* Scroll Animation */

.scroll {
  position: absolute;
  left: 50%;
  top: 87.5%;
  height: 7.5%;
  animation: move 1s infinite alternate;
}

@keyframes move {
  from {
      transform: translateY(0px);
  }
  to {
      transform: translateY(20px);
  }
}



/* Second Page */

.attrac {
  font-size: 50px;
  font-weight: 400;
  text-align: center;
  padding-top: 75px;
}

.card {
  margin-left: 15px;
  margin-right: 15px;
}

.card h1 {
  position: relative;
  top: 0px;
  left: 70px;
  font-size: 40px;
  font-weight: 400;
  align-content: center;
}

.back {
  left: 20px !important;
}

.card img {
  width: 300px;
  height: 477px;
  border-radius: 10px;
}

.cards{
  display: flex;
  align-items: center;
  width: 100%;
  height: 93%;
  justify-content: center;
}

  
@media (min-width: 760px) {
    .navigation ul li {
      visibility: visible;
    }
  
    .page2 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 3rem;
      align-items: center;
      text-align: left;
    }
  
}


  @media (min-width: 1126px) {
    .navigation {
      background-size: contain;
    }
  }

